@charset "UTF-8";
.welcome {
  background: url("..//img/back-books.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 50px; }

.logo {
  width: 200px; }

.link {
  font-size: 20px;
  text-decoration: none;
  color: #314d63; }
  .link:hover {
    cursor: pointer;
    color: #ec3c24; }

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 50px 0 50px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: bold;
  color: #2B2B2B; }

.author__left {
  font-size: 32px;
  text-transform: uppercase; }

.author__right {
  font-size: 24px;
  text-align: left; }

.start {
  font-size: 32px; }

.welcome-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px;
  text-align: left;
  line-height: 1.7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome-info__text {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  color: #2B2B2B; }

.welcome-info__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 67px;
  color: #d32e17;
  margin-top: -20px; }

.welcome-info__time, .welcome-info__level {
  margin: 0;
  font-size: 30px;
  color: #2B2B2B;
  font-weight: bold; }

.welcome-info__level {
  margin-top: 10px; }

.speaker {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.speaker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 90px 10px 90px; }

.speaker__who {
  margin: 0;
  font-size: 34px; }

.speaker__name {
  margin: 0;
  font-size: 44px;
  margin-top: 10px; }

.speaker__list {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 2.3;
  margin-top: 25px; }

.speaker__item {
  list-style: none;
  background: url("..//img/arrows.png") no-repeat 0 18px;
  padding-left: 30px; }

.speaker__quote {
  margin: 30px 90px 40px 90px;
  background: #f9f9f9;
  border-left: 10px solid #314d63;
  padding: 10px 20px;
  font-family: Century Gothic;
  font-size: 18px;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
  text-align: justify; }
  .speaker__quote:before {
    font-family: Georgia,serif;
    color: #314d63;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .speaker__quote p {
    display: inline;
    line-height: 1.5; }

.quote-p {
  margin-left: 50px; }

.quote-name {
  margin-left: 945px; }
  .quote-name:before {
    font-family: Georgia,serif;
    color: #314d63;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    position: absolute;
    right: 0;
    margin-right: 480px; }

.pastforms {
  background: url("..//img/gray-micro-honeycombs.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.date-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 40px; }

.date {
  text-transform: uppercase;
  font-size: 40px;
  text-align: justify;
  letter-spacing: 8px;
  color: #d32e17;
  font-family: Raleway-Bold; }

.time {
  font-size: 22px; }

.date-title__right {
  text-align: left;
  font-size: 72px;
  color: #d32e17;
  font-family: Raleway-Bold; }

.about {
  background-color: white;
  color: #2B2B2B;
  padding: 30px 0; }

.about__list {
  margin: 0;
  padding: 0;
  margin-left: 340px;
  margin-top: 15px;
  margin-bottom: 15px; }

.about__item {
  list-style: none;
  background: url("..//img/arrows.png") no-repeat 0 12px;
  padding-left: 40px;
  font-size: 28px;
  line-height: 1.7; }

.result {
  width: 60%;
  padding: 15px 40px;
  font-size: 30px;
  text-align: justify;
  text-transform: uppercase;
  line-height: 1.5; }

.futureforms {
  background: url("..//img/snow-micro-circles.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.date.future {
  letter-spacing: 5px; }

.result.future {
  width: 50%; }

.conditionals {
  background: url("..//img/gray-micro-honeycombs.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.date.cond {
  letter-spacing: 5px; }

.date-title__right.cond {
  font-size: 54px; }

.result.cond {
  width: 55%; }

.verbs {
  background: url("..//img/snow-micro-circles.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.date.verb {
  letter-spacing: 5px; }

.result.verb {
  width: 55%; }

.topics {
  background-color: white;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.topics__title {
  margin: 0;
  text-align: center;
  font-size: 40px;
  padding: 30px 10px 30px 10px;
  text-transform: uppercase; }

.topics__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .topics__info.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%; }

.top {
  width: 660px;
  margin-left: 44px; }

.topics__list {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 2;
  margin-top: 20px;
  margin-left: 115px;
  -webkit-margin-after: 20px;
  margin-block-end: 20px; }

.topics__item {
  list-style: none;
  padding-left: 50px;
  text-transform: uppercase; }
  .topics__item.search {
    background: url("..//img/search.png") no-repeat 0 16px; }
  .topics__item.star {
    background: url("..//img/star.png") no-repeat 0 10px; }
  .topics__item.news {
    background: url("..//img/news.png") no-repeat 0 13px; }
  .topics__item.pen {
    background: url("..//img/pen.png") no-repeat 0 13px; }
  .topics__item.like {
    background: url("..//img/like.png") no-repeat 0 11px; }
  .topics__item.bubble {
    background: url("..//img/bubble.png") no-repeat 0 12px; }

.topics__cost {
  margin: 20px 0px;
  margin-left: 115px;
  font-size: 32px;
  color: #314d63;
  font-weight: bold; }

.results {
  background: url("..//img/background12.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.results__title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  padding: 20px 0; }

.results__list {
  margin: 0;
  font-size: 34px;
  line-height: 2.3;
  margin-left: 100px; }

.results__item {
  list-style: none;
  background: url("..//img/appointmentnewicon.png") no-repeat 0 19px;
  padding-left: 60px; }

.registration {
  background: url("..//img/contacts.jpg") center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.registration__title {
  width: 70%;
  margin: 0;
  padding: 30px 0 0 40px;
  line-height: 1.5;
  font-size: 50px; }

.registration__list {
  line-height: 1.7; }
  .registration__list .registration__item {
    font-size: 32px;
    list-style: none;
    background: url("..//img/arrows1.png") no-repeat 0 10px;
    padding-left: 50px; }

.registration-info__time {
  margin: 0;
  font-size: 30px;
  color: #2B2B2B;
  font-weight: bold;
  text-align: left;
  margin-left: 40px; }

.registration-info__cost {
  margin-top: 30px;
  font-size: 30px;
  color: #314d63;
  font-weight: bold;
  text-align: left;
  margin-left: 40px; }

.reg {
  margin-left: 40px; }

.footer {
  background-color: #f7f8fa;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.3;
  bottom: 0;
  left: 0;
  width: 100%; }

.footer__details {
  width: 45%; }
  .footer__details p {
    margin: 0;
    padding: 10px; }

.footer__contacts {
  text-align: right;
  width: 45%; }

@font-face {
  font-family: Raleway-Regular;
  src: url(..//fonts/Raleway-Regular.woff);
  src: url(..//fonts/Raleway-Regular.woff2); }

@font-face {
  font-family: Raleway-Bold;
  src: url(..//fonts/Raleway-Bold.woff);
  src: url(..//fonts/Raleway-Bold.woff2); }
