@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext");
.welcome {
  background: url("..//img/back-books.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .welcome {
      min-height: 0; } }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 50px; }
  @media screen and (max-width: 480px) {
    .header__container {
      padding: 10px 20px; } }

.logo {
  width: 200px; }
  @media screen and (max-width: 480px) {
    .logo {
      width: 100px; } }

.link {
  font-size: 20px;
  text-decoration: none;
  color: #314d63; }
  @media screen and (max-width: 480px) {
    .link {
      font-size: 14px; } }
  .link:hover {
    cursor: pointer;
    color: #8C0606; }

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 50px 0 50px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: bold;
  color: #2B2B2B; }
  @media screen and (max-width: 480px) {
    .author {
      padding: 40px 20px 0 20px; } }

.author__left {
  font-size: 32px;
  text-transform: uppercase; }
  @media screen and (max-width: 1024px) {
    .author__left {
      font-size: 28px; } }
  @media screen and (max-width: 480px) {
    .author__left {
      font-size: 14px; } }

.author__right {
  font-size: 24px;
  text-align: left; }
  @media screen and (max-width: 1024px) {
    .author__right {
      font-size: 20px; } }
  @media screen and (max-width: 480px) {
    .author__right {
      font-size: 12px;
      text-align: right; } }

.start {
  font-size: 32px; }
  @media screen and (max-width: 1024px) {
    .start {
      font-size: 28px; } }
  @media screen and (max-width: 480px) {
    .start {
      font-size: 14px; } }

.welcome-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px;
  text-align: left;
  line-height: 1.7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .welcome-info {
      line-height: 1.5;
      padding: 30px; } }
  @media screen and (max-width: 480px) {
    .welcome-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.welcome-info__text {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  color: #2B2B2B; }
  @media screen and (max-width: 1024px) {
    .welcome-info__text {
      font-size: 22px; } }
  @media screen and (max-width: 480px) {
    .welcome-info__text {
      font-size: 21px;
      text-align: center; } }

.welcome-info__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 67px;
  color: #8C0606;
  margin-top: -20px; }
  @media screen and (max-width: 1024px) {
    .welcome-info__title {
      font-size: 50px;
      width: 100%;
      margin-top: 0; } }
  @media screen and (max-width: 480px) {
    .welcome-info__title {
      font-size: 34px;
      text-align: center;
      width: 100%;
      margin-top: 10px; } }

.welcome-info__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold; }
  .welcome-info__list .welcome-info__item {
    margin: 0;
    padding: 0; }
  @media screen and (max-width: 1024px) {
    .welcome-info__list {
      margin-top: 15px;
      font-size: 20px; } }
  @media screen and (max-width: 480px) {
    .welcome-info__list {
      font-size: 14px;
      text-align: center;
      margin-top: 20px; } }

.speaker {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .speaker {
      min-height: 0; } }

@media screen and (max-width: 1024px) {
  .photo {
    height: 300px;
    width: 260px;
    margin: 0 auto; } }

@media screen and (max-width: 480px) {
  .photo {
    width: 180px;
    height: 200px;
    border-radius: 30% 30%; } }

.speaker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 90px 10px 90px; }
  @media screen and (max-width: 1024px) {
    .speaker__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .speaker__info {
      padding: 30px 12px 10px 12px; } }

.speaker__who {
  margin: 0;
  font-size: 34px; }
  @media screen and (max-width: 1024px) {
    .speaker__who {
      margin-top: 30px;
      font-size: 30px;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .speaker__who {
      font-size: 22px; } }

.speaker__name {
  margin: 0;
  font-size: 44px;
  margin-top: 10px; }
  @media screen and (max-width: 1024px) {
    .speaker__name {
      font-size: 40px;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .speaker__name {
      font-size: 32px; } }

.speaker__list {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 2.3;
  margin-top: 25px; }
  @media screen and (max-width: 1024px) {
    .speaker__list {
      line-height: 2;
      font-size: 22px; } }
  @media screen and (max-width: 480px) {
    .speaker__list {
      font-size: 17px; } }

.speaker__item {
  list-style: none;
  background: url("..//img/arrows.png") no-repeat 0 18px;
  padding-left: 30px; }
  @media screen and (max-width: 1024px) {
    .speaker__item {
      background: url("..//img/arrows.png") no-repeat 0 14px; } }
  @media screen and (max-width: 480px) {
    .speaker__item {
      background: url("..//img/arrows.png") no-repeat 0 7px; } }

.speaker__quote {
  width: 55%;
  margin: 30px auto 40px auto;
  background: #f9f9f9;
  border-left: 10px solid #314d63;
  padding: 20px 60px;
  font-family: Century Gothic;
  font-size: 18px;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
  text-align: justify; }
  @media screen and (max-width: 1024px) {
    .speaker__quote {
      width: 70%; } }
  @media screen and (max-width: 480px) {
    .speaker__quote {
      font-size: 14px;
      padding: 20px;
      margin: 10px auto 30px auto; } }
  .speaker__quote:before {
    font-family: Georgia,serif;
    color: #314d63;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .speaker__quote p {
    display: inline;
    line-height: 1.5; }

.quote-p {
  margin-left: 50px; }

.quote-name {
  right: 0;
  text-align: right; }
  .quote-name:before {
    font-family: Georgia,serif;
    color: #314d63;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em; }
    @media screen and (max-width: 480px) {
      .quote-name:before {
        display: none; } }

.pastforms {
  background: url("..//img/gray-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 1024px) {
    .pastforms {
      min-height: 0; } }

.date-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 40px; }
  @media screen and (max-width: 480px) {
    .date-title {
      padding: 10px; } }

.date {
  text-transform: uppercase;
  font-size: 40px;
  text-align: justify;
  letter-spacing: 8px;
  color: #8C0606;
  font-family: Raleway-Bold; }
  @media screen and (max-width: 1024px) {
    .date {
      font-size: 30px; } }
  @media screen and (max-width: 480px) {
    .date {
      font-size: 20px;
      letter-spacing: 4px; } }

.time {
  font-size: 22px; }
  @media screen and (max-width: 1024px) {
    .time {
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .time {
      font-size: 11px; } }

.date-title__right {
  text-align: left;
  font-size: 72px;
  color: #8C0606;
  font-family: Raleway-Bold; }
  @media screen and (max-width: 1024px) {
    .date-title__right {
      font-size: 54px; } }
  @media screen and (max-width: 480px) {
    .date-title__right {
      font-size: 30px; } }

.about {
  background-color: white;
  color: #2B2B2B; }

.about__list {
  margin: 0;
  padding: 0;
  margin-left: 320px;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media screen and (max-width: 1024px) {
    .about__list {
      margin-left: 0;
      padding-left: 40px; } }
  @media screen and (max-width: 480px) {
    .about__list {
      padding: 10px; } }

.about__item {
  list-style: none;
  background: url("..//img/arrows.png") no-repeat 0 12px;
  padding-left: 40px;
  font-size: 28px;
  line-height: 1.7; }
  @media screen and (max-width: 1024px) {
    .about__item {
      font-size: 24px; } }
  @media screen and (max-width: 480px) {
    .about__item {
      font-size: 18px;
      background: url("..//img/arrows.png") no-repeat 0 4px; } }

.result {
  width: 80%;
  padding: 25px 40px;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2; }
  @media screen and (max-width: 1024px) {
    .result {
      width: 90%;
      padding: 20px 0;
      margin: 0 auto;
      line-height: 1.2;
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .result {
      font-size: 14px;
      width: 80%;
      padding: 6px 0; } }

.pastline {
  margin: 0;
  border: 7px solid white; }

.futureforms {
  background: url("..//img/snow-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .futureforms {
      min-height: 0; } }

.date.future {
  letter-spacing: 5px; }
  @media screen and (max-width: 1024px) {
    .date.future {
      letter-spacing: 6px; } }
  @media screen and (max-width: 480px) {
    .date.future {
      font-size: 18px;
      letter-spacing: 4px; } }

@media screen and (max-width: 1024px) {
  .date-title__right.future {
    font-size: 52px; } }

@media screen and (max-width: 480px) {
  .date-title__right.future {
    font-size: 25px; } }

.result.future {
  width: 85%; }
  @media screen and (max-width: 1024px) {
    .result.future {
      width: 90%; } }

.futureline {
  margin: 0;
  border: 7px solid #314d63; }

@media screen and (max-width: 480px) {
  .br {
    display: none; } }

.conditionals {
  background: url("..//img/gray-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .conditionals {
      min-height: 0; } }

.date.cond {
  letter-spacing: 5px; }
  @media screen and (max-width: 1024px) {
    .date.cond {
      letter-spacing: 6px; } }
  @media screen and (max-width: 480px) {
    .date.cond {
      font-size: 20px;
      letter-spacing: 2.5px; } }

@media screen and (max-width: 1024px) {
  .date-title__right.cond {
    font-size: 50px; } }

@media screen and (max-width: 480px) {
  .date-title__right.cond {
    font-size: 25px; } }

@media screen and (max-width: 480px) {
  .about__item.cond {
    font-size: 17px;
    padding-left: 30px; } }

.result.cond {
  width: 80%; }
  @media screen and (max-width: 1024px) {
    .result.cond {
      width: 95%; } }

.verbs {
  background: url("..//img/snow-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .verbs {
      min-height: 0; } }

.date.verb {
  letter-spacing: 5px; }
  @media screen and (max-width: 480px) {
    .date.verb {
      letter-spacing: 2px; } }

@media screen and (max-width: 480px) {
  .date-title__right.verb {
    font-size: 24px; } }

.result.verb {
  width: 80%; }
  @media screen and (max-width: 1024px) {
    .result.verb {
      width: 90%; } }

.topics {
  background-color: white;
  width: 100%;
  background-size: cover;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0; }
  @media screen and (max-width: 1024px) {
    .topics {
      min-height: 0;
      padding: 0; } }

.topics__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .topics__info.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%; }
    @media screen and (max-width: 1024px) {
      .topics__info.left {
        width: 100%; } }

.topics__title {
  text-transform: uppercase;
  font-size: 56px;
  margin: 0;
  padding: 20px 0 0 0;
  margin-left: 162px; }
  @media screen and (max-width: 1024px) {
    .topics__title {
      font-size: 46px;
      margin-left: 50px;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .topics__title {
      font-size: 30px;
      text-align: center;
      margin-left: 0;
      padding: 30px 0 0 0; } }

.top {
  width: 660px;
  margin-left: 44px; }
  @media screen and (max-width: 480px) {
    .top {
      display: none; } }

.topics__list {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 2;
  margin-top: 20px;
  margin-left: 115px; }
  @media screen and (max-width: 1024px) {
    .topics__list {
      margin-left: 40px;
      font-size: 24px;
      line-height: 2.5;
      padding: 20px 0 0 0; } }
  @media screen and (max-width: 480px) {
    .topics__list {
      font-size: 18px;
      margin-top: 0;
      padding: 20px 0 0 20px;
      margin-left: 0; } }

.topics__item {
  list-style: none;
  padding-left: 50px;
  text-transform: uppercase; }
  @media screen and (max-width: 1024px) {
    .topics__item {
      text-transform: none; } }
  @media screen and (max-width: 480px) {
    .topics__item {
      padding-left: 40px; } }
  .topics__item.search {
    background: url("..//img/search.png") no-repeat 0 16px; }
    @media screen and (max-width: 1024px) {
      .topics__item.search {
        background: url("..//img/search.png") no-repeat 0 23px; } }
    @media screen and (max-width: 480px) {
      .topics__item.search {
        background: url("..//img/search.png") no-repeat 0 10px; } }
  .topics__item.star {
    background: url("..//img/star.png") no-repeat 0 10px; }
    @media screen and (max-width: 1024px) {
      .topics__item.star {
        background: url("..//img/star.png") no-repeat 0 16px; } }
    @media screen and (max-width: 480px) {
      .topics__item.star {
        background: url("..//img/star.png") no-repeat 0 7px; } }
  .topics__item.world {
    background: url("..//img/world.png") no-repeat 0 13px; }
    @media screen and (max-width: 1024px) {
      .topics__item.world {
        background: url("..//img/world.png") no-repeat 0 20px; } }
    @media screen and (max-width: 480px) {
      .topics__item.world {
        background: url("..//img/world.png") no-repeat 0 7px; } }
  .topics__item.news {
    background: url("..//img/news.png") no-repeat 0 13px; }
    @media screen and (max-width: 1024px) {
      .topics__item.news {
        background: url("..//img/news.png") no-repeat 0 20px; } }
    @media screen and (max-width: 480px) {
      .topics__item.news {
        background: url("..//img/news.png") no-repeat 0 10px; } }
  .topics__item.pen {
    background: url("..//img/pen.png") no-repeat 0 13px; }
    @media screen and (max-width: 1024px) {
      .topics__item.pen {
        background: url("..//img/pen.png") no-repeat 0 20px; } }
    @media screen and (max-width: 480px) {
      .topics__item.pen {
        background: url("..//img/pen.png") no-repeat 0 9px; } }
  .topics__item.like {
    background: url("..//img/like.png") no-repeat 0 11px; }
    @media screen and (max-width: 1024px) {
      .topics__item.like {
        background: url("..//img/like.png") no-repeat 0 15px; } }
    @media screen and (max-width: 480px) {
      .topics__item.like {
        background: url("..//img/like.png") no-repeat 0 6px; } }
  .topics__item.bubble {
    background: url("..//img/bubble.png") no-repeat 0 12px; }
    @media screen and (max-width: 1024px) {
      .topics__item.bubble {
        background: url("..//img/bubble.png") no-repeat 0 18px; } }
    @media screen and (max-width: 480px) {
      .topics__item.bubble {
        background: url("..//img/bubble.png") no-repeat 0 8px; } }

.topics__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 20px 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media screen and (max-width: 1024px) {
    .topics__cost {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0 20px; } }
  @media screen and (max-width: 480px) {
    .topics__cost {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 10px; } }
  .topics__cost.text {
    margin-left: 115px;
    font-weight: bold;
    color: #314d63;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 1024px) {
      .topics__cost.text {
        margin-left: 0; } }
    @media screen and (max-width: 480px) {
      .topics__cost.text {
        font-size: 18px; } }
  .topics__cost.number {
    font-size: 44px;
    margin-left: 25px;
    color: #314d63;
    font-family: Raleway-Bold; }
    @media screen and (max-width: 1024px) {
      .topics__cost.number {
        margin-left: 0; } }
    @media screen and (max-width: 480px) {
      .topics__cost.number {
        font-size: 40px; } }

.take-part {
  font-size: 30px;
  margin: 0; }

.february {
  margin: 0;
  text-align: left; }

@media screen and (max-width: 1024px) {
  .topics__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.topics__info.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .topics__info.right {
      padding: 0 200px 30px 200px; } }
  @media screen and (max-width: 480px) {
    .topics__info.right {
      padding: 0;
      margin: 0 auto;
      margin-bottom: 20px; } }

.results {
  background: url("..//img/background12.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .results {
      min-height: 0;
      padding: 50px 0; } }
  @media screen and (max-width: 480px) {
    .results {
      padding: 15px 0; } }

.results__title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  padding: 20px 0;
  color: #8C0606; }
  @media screen and (max-width: 1024px) {
    .results__title {
      font-size: 36px; } }
  @media screen and (max-width: 480px) {
    .results__title {
      font-size: 24px;
      width: 100%;
      margin: 0; } }

.results__list {
  margin: 0;
  font-size: 34px;
  line-height: 2.3;
  margin-left: 100px; }
  @media screen and (max-width: 1024px) {
    .results__list {
      font-size: 26px;
      margin-left: 0; } }
  @media screen and (max-width: 480px) {
    .results__list {
      font-size: 14px;
      margin-bottom: 10px; } }

.results__item {
  list-style: none;
  background: url("..//img/appointmentnewicon.png") no-repeat 0 19px;
  padding-left: 60px; }
  @media screen and (max-width: 1024px) {
    .results__item {
      background: url("..//img/appointmentnewicon.png") no-repeat 0 12px; } }
  @media screen and (max-width: 480px) {
    .results__item {
      background: url("..//img/appointmentnewicon_small.png") no-repeat 0 8px;
      padding-left: 30px;
      margin-left: -28px; } }

.registration {
  background: url("..//img/contacts.jpg") center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .registration {
      min-height: 0; } }

.registration__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
  padding: 20px 40px 0 40px;
  line-height: 1.5; }
  @media screen and (max-width: 1024px) {
    .registration__title {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .registration__title {
      padding: 20px 5px 0 5px; } }

.registration__text {
  font-weight: bold;
  font-size: 50px; }
  @media screen and (max-width: 1024px) {
    .registration__text {
      font-size: 44px; } }
  @media screen and (max-width: 480px) {
    .registration__text {
      width: 100%;
      font-size: 24px;
      text-align: center; } }

.registration__date {
  font-size: 44px; }
  @media screen and (max-width: 1024px) {
    .registration__date {
      font-size: 38px;
      margin-top: 40px; } }
  @media screen and (max-width: 480px) {
    .registration__date {
      font-size: 20px;
      text-align: center;
      width: 100%;
      margin-top: 20px; } }

.registration__list {
  line-height: 1.7; }
  .registration__list .registration__item {
    font-size: 32px;
    list-style: none;
    background: url("..//img/arrows1.png") no-repeat 0 12px;
    padding-left: 50px; }
    @media screen and (max-width: 1024px) {
      .registration__list .registration__item {
        font-size: 26px; } }
    @media screen and (max-width: 480px) {
      .registration__list .registration__item {
        font-size: 18px;
        margin-left: -28px;
        padding-left: 35px;
        background: url("..//img/arrows.png") no-repeat 0 6px; } }
  @media screen and (max-width: 1024px) {
    .registration__list {
      margin-bottom: 40px; } }
  @media screen and (max-width: 480px) {
    .registration__list {
      margin-bottom: 30px; } }

.registration-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px 0 0; }
  @media screen and (max-width: 480px) {
    .registration-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.registration-info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .registration-info__right {
      padding: 0;
      margin-left: 30px;
      margin-bottom: 40px; } }

.registration-info__time {
  margin: 0;
  font-size: 30px;
  color: #2B2B2B;
  font-weight: bold;
  text-align: left;
  margin-left: 40px; }
  @media screen and (max-width: 1024px) {
    .registration-info__time {
      font-size: 24px; } }
  @media screen and (max-width: 480px) {
    .registration-info__time {
      font-size: 18px;
      margin-left: 0;
      text-align: center;
      width: 100vw; } }

.registration__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media screen and (max-width: 1024px) {
    .registration__cost {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .registration__cost.text {
    margin-left: 40px;
    font-weight: bold;
    color: #314d63;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 1024px) {
      .registration__cost.text {
        margin-left: 40px;
        font-size: 24px; } }
    @media screen and (max-width: 480px) {
      .registration__cost.text {
        font-size: 20px;
        margin-left: 10px; } }
  .registration__cost.number {
    font-size: 44px;
    margin-left: 14px;
    color: #314d63;
    font-family: Raleway-Bold; }
    @media screen and (max-width: 1024px) {
      .registration__cost.number {
        margin-left: 0;
        font-size: 50px; } }
    @media screen and (max-width: 480px) {
      .registration__cost.number {
        font-size: 40px; } }

.reg {
  margin-left: 40px; }
  @media screen and (max-width: 1024px) {
    .reg {
      width: 90%; } }

.footer {
  background-color: #f7f8fa;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.7;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; }
  @media screen and (max-width: 480px) {
    .footer {
      font-size: 7px;
      padding: 0; } }

.footer__details {
  width: 48%; }
  .footer__details p {
    margin: 0;
    padding: 10px; }
    @media screen and (max-width: 480px) {
      .footer__details p {
        padding: 0; } }

.footer__contacts {
  text-align: right;
  width: 48%; }

#mlb2-7558960,
#mlb2-7558960 *,
#mlb2-7558960 a:hover,
#mlb2-7558960 a:visited,
#mlb2-7558960 a:focus,
#mlb2-7558960 a:active {
  overflow: visible;
  position: static;
  background: none;
  border: none;
  bottom: auto;
  clear: none;
  cursor: default;
  float: none;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  max-height: none;
  max-width: none;
  left: auto;
  min-height: 0;
  min-width: 0;
  right: auto;
  top: auto;
  width: auto;
  z-index: auto;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: medium none; }

#mlb2-7558960 a:hover {
  cursor: pointer !important; }

#mlb2-7558960 h4 {
  font-weight: normal; }

#mlb2-7558960 .subscribe-form {
  padding: 20px;
  width: 350px !important;
  border: 2px solid #F6F6F6 !important;
  background: #f6f6f6 none !important;
  border-radius: 0px !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }
  @media screen and (max-width: 480px) {
    #mlb2-7558960 .subscribe-form {
      padding: 10px; } }

#mlb2-7558960 .ml-block-form {
  margin-bottom: 0px; }

#mlb2-7558960 .subscribe-form .form-section {
  margin-bottom: 20px;
  width: 100%; }

#mlb2-7558960 .subscribe-form .form-section.mb10 {
  margin-bottom: 10px;
  float: left; }

#mlb2-7558960 .subscribe-form .form-section.mb0 {
  margin-bottom: 0px; }

#mlb2-7558960 .subscribe-form .form-section h4 {
  margin: 0px 0px 10px 0px !important;
  padding: 0px !important;
  color: #C0392B !important;
  font-family: Raleway-Regular !important;
  font-size: 30px !important;
  line-height: 100%;
  text-align: left !important; }
  @media screen and (max-width: 480px) {
    #mlb2-7558960 .subscribe-form .form-section h4 {
      font-size: 22px !important;
      text-align: center !important; } }

#mlb2-7558960 .subscribe-form .form-section p,
#mlb2-7558960 .subscribe-form .form-section li {
  line-height: 150%;
  padding: 0px !important;
  margin: 0px 0px 10px 0px;
  color: #000000 !important;
  font-family: Raleway-Regular !important;
  font-size: 14px !important; }

#mlb2-7558960 .subscribe-form .form-section a {
  font-size: 14px !important; }

#mlb2-7558960 .subscribe-form .form-section .confirmation_checkbox {
  line-height: 150%;
  padding: 0px !important;
  margin: 0px 0px 15px 0px !important;
  color: #000000 !important;
  font-family: Raleway-Regular !important;
  font-size: 14px !important;
  font-weight: normal !important; }

#mlb2-7558960 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"] {
  margin-right: 5px !important; }

#mlb2-7558960 .subscribe-form .form-section .form-group {
  margin-bottom: 15px; }

#mlb2-7558960 .subscribe-form .form-section .form-group label {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  line-height: 100%;
  color: #000000 !important;
  font-family: Raleway-Regular !important;
  font-size: 14px !important; }

#mlb2-7558960 .subscribe-form .form-section .checkbox {
  width: 100%;
  margin: 0px 0px 10px 0px; }

#mlb2-7558960 .subscribe-form .form-section .checkbox label {
  color: #000000 !important;
  font-family: Raleway-Regular !important;
  font-size: 14px !important; }

#mlb2-7558960 .subscribe-form .form-section .checkbox input {
  margin: 0px 5px 0px 0px; }

#mlb2-7558960 .subscribe-form .form-section .checkbox input[type=checkbox] {
  -webkit-appearance: checkbox;
  opacity: 1; }

#mlb2-7558960.ml-subscribe-form .form-group .form-control {
  width: 100%;
  font-size: 13px;
  padding: 10px 10px;
  height: auto;
  font-family: Raleway-Regular !important;
  border-radius: 0px;
  border: 1px solid #cccccc !important;
  color: #000000 !important;
  background-color: #FFFFFF !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: left; }

#mlb2-7558960.ml-subscribe-form button {
  border: none !important;
  cursor: pointer !important;
  width: 100% !important;
  border-radius: 0px !important;
  height: 47.5px !important;
  background-color: #C0392B !important;
  color: #FFFFFF !important;
  font-family: Raleway-Regular !important;
  font-size: 19px !important;
  text-align: center !important;
  padding: 0 !important;
  margin: 0 !important;
  position: relative !important; }
  @media screen and (max-width: 480px) {
    #mlb2-7558960.ml-subscribe-form button {
      font-size: 17px !important; } }

#mlb2-7558960.ml-subscribe-form button.gradient-on {
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.2) 100%); }

#mlb2-7558960.ml-subscribe-form button.gradient-on:hover {
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%); }

#mlb2-7558960.ml-subscribe-form button[disabled] {
  cursor: not-allowed !important; }

#mlb2-7558960.ml-subscribe-form .form-section.ml-error label {
  color: red !important; }

#mlb2-7558960.ml-subscribe-form .form-group.ml-error label {
  color: red !important; }

#mlb2-7558960.ml-subscribe-form .form-group.ml-error .form-control {
  border-color: red !important; }

@media (max-width: 768px) {
  #mlb2-7558960 {
    width: 100% !important; }
  #mlb2-7558960 form.ml-block-form,
  #mlb2-7558960.ml-subscribe-form .subscribe-form {
    width: 100% !important; } }

@media screen and (max-width: 1024px) {
  .ml-vertical-align-center.welcome {
    margin-left: 120px; } }

@media screen and (max-width: 480px) {
  .ml-vertical-align-center.welcome {
    margin-left: 0;
    margin-top: 20px; } }

.ml-vertical-align-center.topics {
  width: 200px !important; }
  @media screen and (max-width: 1024px) {
    .ml-vertical-align-center.topics {
      width: 350px !important; } }
  @media screen and (max-width: 480px) {
    .ml-vertical-align-center.topics {
      width: 300px !important; } }

@media screen and (max-width: 1024px) {
  .ml-vertical-align-center.reg {
    width: 250px !important;
    margin-left: 30px; } }

@font-face {
  font-family: Raleway-Regular;
  src: url(..//fonts/Raleway-Regular.woff);
  src: url(..//fonts/Raleway-Regular.woff2); }

@font-face {
  font-family: Raleway-Bold;
  src: url(..//fonts/Raleway-Bold.woff);
  src: url(..//fonts/Raleway-Bold.woff2); }
