@charset "UTF-8";
.wrapper {
  min-height: 100vh; }

.welcome {
  background: url("..//img/back-books.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 50px; }

.logo {
  width: 200px; }

.link {
  font-size: 20px;
  text-decoration: none;
  color: #314d63; }
  .link:hover {
    cursor: pointer;
    color: #8C0606; }

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 50px 0 50px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: bold;
  color: #2B2B2B; }

.author__left {
  font-size: 32px;
  text-transform: uppercase; }
  @media screen and (max-width: 1024px) {
    .author__left {
      font-size: 28px; } }

.author__right {
  font-size: 24px;
  text-align: left; }
  @media screen and (max-width: 1024px) {
    .author__right {
      font-size: 20px; } }

.start {
  font-size: 32px; }
  @media screen and (max-width: 1024px) {
    .start {
      font-size: 28px; } }

.welcome-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px;
  text-align: left;
  line-height: 1.7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .welcome-info {
      line-height: 1.5; } }

.welcome-info__text {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  color: #2B2B2B; }
  @media screen and (max-width: 1024px) {
    .welcome-info__text {
      font-size: 22px; } }

.welcome-info__title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 67px;
  color: #8C0606;
  margin-top: -20px; }
  @media screen and (max-width: 1024px) {
    .welcome-info__title {
      font-size: 48px;
      width: 50%;
      margin-top: 0; } }

.welcome-info__time, .welcome-info__level {
  margin: 0;
  font-size: 30px;
  color: #2B2B2B;
  font-weight: bold; }
  @media screen and (max-width: 1024px) {
    .welcome-info__time, .welcome-info__level {
      font-size: 22px; } }

.welcome-info__level {
  margin-top: 10px; }

.speaker {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media screen and (max-width: 1024px) {
  .photo {
    height: 300px;
    width: 260px;
    margin: 0 auto; } }

.speaker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 90px 10px 90px; }
  @media screen and (max-width: 1024px) {
    .speaker__info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.speaker__who {
  margin: 0;
  font-size: 34px; }
  @media screen and (max-width: 1024px) {
    .speaker__who {
      margin-top: 30px;
      font-size: 30px;
      text-align: center; } }

.speaker__name {
  margin: 0;
  font-size: 44px;
  margin-top: 10px; }
  @media screen and (max-width: 1024px) {
    .speaker__name {
      font-size: 40px;
      text-align: center; } }

.speaker__list {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 2.3;
  margin-top: 25px; }
  @media screen and (max-width: 1024px) {
    .speaker__list {
      line-height: 2;
      font-size: 22px; } }

.speaker__item {
  list-style: none;
  background: url("..//img/arrows.png") no-repeat 0 18px;
  padding-left: 30px; }
  @media screen and (max-width: 1024px) {
    .speaker__item {
      background: url("..//img/arrows.png") no-repeat 0 14px; } }

.speaker__quote {
  width: 55%;
  margin: 30px auto 40px auto;
  background: #f9f9f9;
  border-left: 10px solid #314d63;
  padding: 20px 60px;
  font-family: Century Gothic;
  font-size: 18px;
  font-style: italic;
  quotes: "“" "”" "‘" "’";
  text-align: justify; }
  .speaker__quote:before {
    font-family: Georgia,serif;
    color: #314d63;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .speaker__quote p {
    display: inline;
    line-height: 1.5; }

.quote-p {
  margin-left: 50px; }

.quote-name {
  right: 0;
  text-align: right; }
  @media screen and (max-width: 1024px) {
    .quote-name {
      margin-left: 360px; } }
  .quote-name:before {
    font-family: Georgia,serif;
    color: #314d63;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em; }
    @media screen and (max-width: 1024px) {
      .quote-name:before {
        margin-right: 330px; } }

.pastforms {
  background: url("..//img/gray-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 1024px) {
    .pastforms {
      min-height: 0; } }

.date-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 40px; }

.date {
  text-transform: uppercase;
  font-size: 40px;
  text-align: justify;
  letter-spacing: 8px;
  color: #8C0606;
  font-family: Raleway-Bold; }
  @media screen and (max-width: 1024px) {
    .date {
      font-size: 30px; } }

.time {
  font-size: 22px; }
  @media screen and (max-width: 1024px) {
    .time {
      font-size: 18px; } }

.date-title__right {
  text-align: left;
  font-size: 72px;
  color: #8C0606;
  font-family: Raleway-Bold; }
  @media screen and (max-width: 1024px) {
    .date-title__right {
      font-size: 54px; } }

.about {
  background-color: white;
  color: #2B2B2B; }

.about__list {
  margin: 0;
  padding: 0;
  margin-left: 320px;
  margin-top: 15px;
  margin-bottom: 15px; }
  @media screen and (max-width: 1024px) {
    .about__list {
      margin-left: 0;
      padding-left: 40px; } }

.about__item {
  list-style: none;
  background: url("..//img/arrows.png") no-repeat 0 12px;
  padding-left: 40px;
  font-size: 28px;
  line-height: 1.7; }

.result {
  width: 80%;
  padding: 25px 40px;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2; }
  @media screen and (max-width: 1024px) {
    .result {
      width: 90%;
      padding: 20px 0;
      margin: 0 auto;
      line-height: 1.2;
      font-size: 26px; } }

.pastline {
  margin: 0;
  border: 7px solid white; }

.futureforms {
  background: url("..//img/snow-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .futureforms {
      min-height: 0; } }

.date.future {
  letter-spacing: 5px; }
  @media screen and (max-width: 1024px) {
    .date.future {
      letter-spacing: 6px; } }

@media screen and (max-width: 1024px) {
  .date-title__right.future {
    font-size: 52px; } }

.result.future {
  width: 85%; }
  @media screen and (max-width: 1024px) {
    .result.future {
      width: 90%; } }

.futureline {
  margin: 0;
  border: 7px solid #314d63; }

.conditionals {
  background: url("..//img/gray-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .conditionals {
      min-height: 0; } }

.date.cond {
  letter-spacing: 5px; }
  @media screen and (max-width: 1024px) {
    .date.cond {
      letter-spacing: 6px; } }

@media screen and (max-width: 1024px) {
  .date-title__right.cond {
    font-size: 50px; } }

.result.cond {
  width: 80%; }
  @media screen and (max-width: 1024px) {
    .result.cond {
      width: 90%; } }

.verbs {
  background: url("..//img/snow-micro-circles.png") center center;
  width: 100%;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .verbs {
      min-height: 0; } }

.date.verb {
  letter-spacing: 5px; }

.result.verb {
  width: 80%; }
  @media screen and (max-width: 1024px) {
    .result.verb {
      width: 90%; } }

.topics {
  background-color: white;
  width: 100%;
  background-size: cover;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0; }
  @media screen and (max-width: 1024px) {
    .topics {
      min-height: 0; } }

.topics__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .topics__info.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 70%; }

.topics__title {
  text-transform: uppercase;
  font-size: 56px;
  margin: 0;
  padding: 20px 0 0 0;
  margin-left: 162px; }

.top {
  width: 660px;
  margin-left: 44px; }

.topics__list {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 2;
  margin-top: 20px;
  margin-left: 115px;
  -webkit-margin-after: 20px;
  margin-block-end: 20px; }
  @media screen and (max-width: 1024px) {
    .topics__list {
      margin-left: 40px;
      width: 100%;
      font-size: 29px;
      line-height: 2.5;
      padding: 40px 0 0 0; } }

.topics__item {
  list-style: none;
  padding-left: 50px;
  text-transform: uppercase; }
  @media screen and (max-width: 1024px) {
    .topics__item {
      text-transform: none; } }
  .topics__item.search {
    background: url("..//img/search.png") no-repeat 0 16px; }
  .topics__item.star {
    background: url("..//img/star.png") no-repeat 0 10px; }
  .topics__item.news {
    background: url("..//img/news.png") no-repeat 0 13px; }
  .topics__item.pen {
    background: url("..//img/pen.png") no-repeat 0 13px; }
  .topics__item.like {
    background: url("..//img/like.png") no-repeat 0 11px; }
  .topics__item.bubble {
    background: url("..//img/bubble.png") no-repeat 0 12px; }

.topics__cost {
  margin: 20px 0px;
  margin-left: 115px;
  font-size: 32px;
  color: #314d63;
  font-weight: bold; }
  @media screen and (max-width: 1024px) {
    .topics__cost {
      margin-left: 40px;
      padding-bottom: 40px; } }

.topics__cost-title {
  font-size: 40px; }

.results {
  background: url("..//img/background12.png") center center;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1024px) {
    .results {
      min-height: 0;
      padding: 50px 0; } }

.results__title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  padding: 20px 0; }
  @media screen and (max-width: 1024px) {
    .results__title {
      font-size: 36px; } }

.results__list {
  margin: 0;
  font-size: 34px;
  line-height: 2.3;
  margin-left: 100px; }
  @media screen and (max-width: 1024px) {
    .results__list {
      font-size: 28px;
      margin-left: 0; } }

.results__item {
  list-style: none;
  background: url("..//img/appointmentnewicon.png") no-repeat 0 19px;
  padding-left: 60px; }
  @media screen and (max-width: 1024px) {
    .results__item {
      background: url("..//img/appointmentnewicon.png") no-repeat 0 12px; } }

.registration {
  background: url("..//img/contacts.jpg") center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: Raleway-Regular;
  color: #2B2B2B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.registration__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0;
  padding: 20px 40px 0 40px;
  line-height: 1.5; }
  @media screen and (max-width: 1024px) {
    .registration__title {
      width: 90%;
      font-size: 40px;
      text-align: center; } }

.registration__text {
  font-weight: bold;
  font-size: 50px; }

.registration__date {
  font-size: 44px; }

.registration__list {
  line-height: 1.7; }
  .registration__list .registration__item {
    font-size: 32px;
    list-style: none;
    background: url("..//img/arrows1.png") no-repeat 0 12px;
    padding-left: 50px; }

.registration-info__time {
  margin: 0;
  font-size: 30px;
  color: #2B2B2B;
  font-weight: bold;
  text-align: left;
  margin-left: 40px; }

.registration-info__cost {
  margin-top: 30px;
  font-size: 34px;
  color: #314d63;
  font-family: Raleway-Bold;
  margin-left: 10px;
  width: 49%;
  text-align: right; }

.reg {
  margin-left: 40px; }
  @media screen and (max-width: 1024px) {
    .reg {
      width: 90%; } }

@media screen and (max-width: 1024px) {
  .regline {
    display: none; } }

.footer {
  background-color: #f7f8fa;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.7;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; }

.footer__details {
  width: 48%; }
  .footer__details p {
    margin: 0;
    padding: 10px; }

.footer__contacts {
  text-align: right;
  width: 48%; }

@font-face {
  font-family: Raleway-Regular;
  src: url(..//fonts/Raleway-Regular.woff);
  src: url(..//fonts/Raleway-Regular.woff2); }

@font-face {
  font-family: Raleway-Bold;
  src: url(..//fonts/Raleway-Bold.woff);
  src: url(..//fonts/Raleway-Bold.woff2); }
