//resolutions
$desktop: 1500px;
$laptop: 992px;
$tablets: 1024px;
$phones: 480px;

//configuration
@import "config/media";

//blocks
@import "blocks/welcome";
@import "blocks/speaker";
@import "blocks/pastforms";
@import "blocks/futureforms";
@import "blocks/conditionals";
@import "blocks/verbs";
@import "blocks/topics";
@import "blocks/results";
@import "blocks/registration";
@import "blocks/forms";

//fonts
@import "layout/fonts";