.conditionals {
    background: url("..//img/gray-micro-honeycombs.png") center center;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date {
    &.cond {
        letter-spacing: 5px;
    }
}
.date-title__right {
    &.cond {
        font-size: 54px;
    }
}
.result {
    &.cond {
        width: 55%;
    }
}