.conditionals {
    background: url("..//img/gray-micro-circles.png") center center;
    width: 100%;
    font-family: Raleway-Regular;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablets {
        min-height: 0;
    }
}
.date {
    &.cond {
        letter-spacing: 5px;
        @include tablets {
            letter-spacing: 6px;
        }
        @include phones {
            font-size: 20px;
            letter-spacing: 2.5px;
        }
    }
}
.date-title__right {
    &.cond {
        @include tablets {
            font-size: 50px;
        }
        @include phones {
            font-size: 25px;
        }
    }
}
.about__item {
    &.cond {
        @include phones {
        font-size: 17px;
        padding-left: 30px;
        }
    }
}
.result {
    &.cond {
        width: 80%;
        @include tablets {
            width: 95%;
        }
    }
}