.futureforms {
    background: url("..//img/snow-micro-circles.png") center center;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date {
    &.future {
        letter-spacing: 5px;
    }
}
.result {
    &.future {
        width: 50%;
    }
}
