.pastforms {
    background: url("..//img/gray-micro-honeycombs.png") center center;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    color: white;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}
.date-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
}
.date {
    text-transform: uppercase;
    font-size: 40px;
    text-align: justify;
    letter-spacing: 8px;
    color: #d32e17;
    font-family: Raleway-Bold;
}
.time {
    font-size: 22px;
}
.date-title__right {
    text-align: left;
    font-size: 72px;
    color: #d32e17;
    font-family: Raleway-Bold;
}
.about {
    background-color: white;
    color: #2B2B2B;
    padding: 30px 0;
}
.about__list {
    margin: 0;
    padding: 0;
    margin-left: 340px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.about__item {
    list-style: none;
    background: url("..//img/arrows.png") no-repeat 0 12px;
    padding-left: 40px;
    font-size: 28px;
    line-height: 1.7;
}
.result {
    width: 60%;
    padding: 15px 40px ;
    font-size: 30px;
    text-align: justify;
    text-transform: uppercase;
    line-height: 1.5;
}