.registration {
    background: url("..//img/contacts.jpg") center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.registration__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 20px 40px 0 40px;
    line-height: 1.5;
    @include tablets {
        width: 90%;
        font-size: 40px;
        text-align: center;
    }
}
.registration__text {
    font-weight: bold;
    font-size: 50px;
}
.registration__date {
    font-size: 44px;
}
.registration__list {
    line-height: 1.7;
    .registration__item {
        font-size: 32px;
        list-style: none;
        background: url("..//img/arrows1.png") no-repeat 0 12px;
        padding-left: 50px;
    }
}
.registration-info__time {
    margin: 0;
    font-size: 30px;
    color: #2B2B2B;
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
}
.registration-info__cost {
    margin-top: 30px;
    font-size: 34px;
    color: #314d63;
    font-family: Raleway-Bold;
    margin-left: 10px;
    width: 49%;
    text-align: right;
}
.reg {
    margin-left: 40px;
    @include tablets {
        width: 90%;
    }
}
.regline {
    @include tablets {
       display: none;
    }
}
.footer {
    background-color: #f7f8fa;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}
.footer__details {
    width: 48%;
    p {
        margin: 0;
        padding: 10px;
    }
}
.footer__contacts {
    text-align: right;
    width: 48%;
}