.registration {
    background: url("..//img/contacts.jpg") center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include phones {
        min-height: 0;
    }
}
.registration__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 20px 40px 0 40px;
    line-height: 1.5;
    @include tablets {
        align-items: flex-start;
        flex-direction: column;
    }
    @include phones {
        padding: 20px 5px 0 5px;
    }
}
.registration__text {
    font-weight: bold;
    font-size: 50px;
    @include tablets {
        font-size: 44px;
    }
    @include phones {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }
}
.registration__date {
    font-size: 44px;
    @include tablets {
        font-size: 38px;
        margin-top: 40px;
    }
    @include phones {
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}
.registration__list {
    line-height: 1.7;
    .registration__item {
        font-size: 32px;
        list-style: none;
        background: url("..//img/arrows1.png") no-repeat 0 12px;
        padding-left: 50px;
        @include tablets {
            font-size: 26px;
        }
        @include phones {
            font-size: 18px;
            margin-left: -28px;
            padding-left: 35px;
            background: url("..//img/arrows.png") no-repeat 0 6px;
        }
    }
    @include tablets {
        margin-bottom: 40px;
    }
    @include phones {
        margin-bottom: 30px;
    }
}
.registration-info {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 0;
    @include phones {
        flex-direction: column;
    }
}
.registration-info__right {
    display: flex;
    align-items: center;
    @include phones {
        padding: 0;
        margin-left: 30px;
        margin-bottom: 40px;
    }
}
.registration-info__time {
    margin: 0;
    font-size: 30px;
    color: #2B2B2B;
    font-weight: bold;
    text-align: left;
    margin-left: 40px;
    @include tablets {
        font-size: 24px;
    }
    @include phones {
        font-size: 18px;
        margin-left: 0;
        text-align: center;
        width: 100vw;
    }
}
.registration__cost {
    display: flex;
    margin: 20px 0;
    align-items: flex-end;
    @include tablets {
        justify-content: space-between;
        align-items: center;
    }
    &.text {
        margin-left: 40px;
        font-size: 28px;
        font-weight: bold;
        color: #314d63;
        @include tablets {
            margin-left: 40px;
            font-size: 24px;
        }
        @include phones {
            font-size: 20px;
            margin-left: 10px;
        }
    }
    &.number {
        font-size: 56px;
        margin-left: 14px;
        color: #314d63;
        font-family: Raleway-Bold;
        @include tablets {
            margin-left: 0;
            font-size: 50px;
        }
        @include phones {
            font-size: 40px;
        }
    }
}
.reg {
    margin-left: 40px;
    @include tablets {
        width: 90%;
    }
}
.footer {
    background-color: #f7f8fa;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    @include phones {
        font-size: 7px;
        padding: 0;
    }
}
.footer__details {
    width: 48%;
    p {
        margin: 0;
        padding: 10px;
        @include phones {
            padding: 0;
        }
    }
}
.footer__contacts {
    text-align: right;
    width: 48%;
}