.topics {
    background-color: white;
    width: 100%;
    background-size: cover;
    // min-height: 100vh;
    font-family: Raleway-Regular;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    @include tablets {
        min-height: 0;
    }
}
.topics__info {
    display: flex;
    &.left {
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}
.topics__title {
    text-transform: uppercase;
    font-size: 56px;
    margin: 0;
    padding: 20px 0 0 0;
    margin-left: 162px;
}
.top {
    width: 660px;
    margin-left: 44px;
}
.topics__list {
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 2;
    margin-top: 20px;
    margin-left: 115px;
    margin-block-end: 20px;
    @include tablets {
        margin-left: 40px;
        width: 100%;
        font-size: 29px;
        line-height: 2.5;
        padding: 40px 0 0 0;
    }
}
.topics__item {
    list-style: none;
    padding-left: 50px;
    text-transform: uppercase;
    @include tablets {
        text-transform: none;
    }
    &.search {
        background: url("..//img/search.png") no-repeat 0 16px; 
    }
    &.star {
        background: url("..//img/star.png") no-repeat 0 10px; 
    }
    &.news {
        background: url("..//img/news.png") no-repeat 0 13px; 
    }
    &.pen {
        background: url("..//img/pen.png") no-repeat 0 13px; 
    }
    &.like {
        background: url("..//img/like.png") no-repeat 0 11px; 
    }
    &.bubble {
        background: url("..//img/bubble.png") no-repeat 0 12px; 
    }
}
.topics__cost {
    margin: 20px 0px;
    margin-left: 115px;
    font-size: 32px;
    color: #314d63; 
    font-weight: bold;
    @include tablets {
        margin-left: 40px;
        padding-bottom: 40px;
    }
}
.topics__cost-title {
    font-size: 40px;
}