.verbs {
    background: url("..//img/snow-micro-circles.png") center center;
    width: 100%;
    font-family: Raleway-Regular;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablets {
        min-height: 0;
    }
}
.date {
    &.verb {
        letter-spacing: 5px;
        @include phones {
            letter-spacing: 2px;
        }
    }
}
.date-title__right {
    &.verb {
        @include phones {
            font-size: 24px;
        }
    }
}
.result {
    &.verb {
        width: 80%;
        @include tablets {
            width: 90%;
        }
    }
}