.verbs {
    background: url("..//img/light-grey-glow-cells-2.png") center center;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    color: #2B2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.date {
    &.verb {
        letter-spacing: 10.5px;
    }
}
.about__item {
    &.verb {
        background: url("..//img/arrows-grey.png") no-repeat 0 5px;
    }  
}
.result {
    &.verb {
        background: url("..//img/background34.png");
    }
}