.welcome {
    background: url("..//img/back-books.png") center center;
    width: 100%;
    min-height: 100vh;
    font-family: Raleway-Regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include phones {
        min-height: 0;

    }
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    @include phones {
        padding: 10px 20px;
    }
}
.logo {
    width: 200px;
    @include phones {
        width: 100px;
    }
}
.link {
    font-size: 20px;
    text-decoration: none;
    color: #314d63;
    @include phones {
        font-size: 14px;
    }
    &:hover {
        cursor: pointer;
        color: #8C0606;
    }
}
.author {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px 0 50px;
    align-items: flex-end;
    font-weight: bold;
    color: #2B2B2B;
    @include phones {
        padding: 40px 20px 0 20px;
    }
}
.author__left {
    font-size: 32px;
    text-transform: uppercase;
    @include tablets {
        font-size: 28px;
    }
    @include phones {
        font-size: 18px;
    }
}
.author__right {
    font-size: 24px;
    text-align: left;
    @include tablets {
        font-size: 20px;
    }
    @include phones {
        font-size: 14px;
        text-align: right;
    }
}
.start {
    font-size: 32px;
    @include tablets {
        font-size: 28px;
    }
    @include phones {
        font-size: 18px;
    }
}
.welcome-info {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    text-align: left;
    line-height: 1.7;
    align-items: center;
    @include tablets {
        line-height: 1.5;
    }
}
.welcome-info__text {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 26px;
    color: #2B2B2B;
    @include tablets {
        font-size: 22px;
    }
    @include phones {
        font-size: 21px;
        text-align: center;
    }
}
.welcome-info__title {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 67px;
    color: #8C0606;
    margin-top: -20px;
    @include tablets {
        font-size: 48px;
        width: 50%;
        margin-top: 0; 
    }
    @include phones {
        font-size: 34px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
}
.welcome-info__time, .welcome-info__level {
    margin: 0;
    font-size: 30px;
    color: #2B2B2B;
    font-weight: bold;
    @include tablets {
        font-size: 22px;
    }
    @include phones {
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
    }
}
.welcome-info__level {
    margin-top: 10px; 
    @include phones {
        font-size: 17px;
        text-align: center;
    }
}
